$def with (hostposts, imageposts, form)

<h1>Node information list</h1>

<table>
	<tr>
		<td>ID</td><td>hostname</td><td>macaddr</td><td>ipaddr</td><td><a href="/newhost">New</a></td>
	$for post in hostposts:
	<tr>
		<td>$post.id</td><td><a href="/viewhost/$post.id">$post.hostname</a></td><td>$post.macaddr</td><td>$post.ipaddr</td>
		<td><a href="/edithost/$post.id">Edit</a></td>
	</tr>
</table>

<h1>Image information list</h1>

<table>
	<tr>
		<td>ID</td><td>imagename</td><td>imagelocation</td><td><a href ="newimage">New</a></td>
	$for post in imageposts:
	<tr>
		<td>$post.id</td><td><a href="/viewimage/$post.id">$post.imagename</a></td><td>$post.imagelocation</td>
		<td><a href="/editimage/$post.id">Edit</a></td>
	</tr>
</table>

<h1>Host Image Mapping</h1>

<form action="" method="post">
	$:form.render()
</form>

<h1>Reboot&&Change OS of Physical Node</h1>



